*,
*::before,
*::after{
    box-sizing: border-box;
}
/* task 2 */

.box {
    width: 350px;
    height: 220px;
    padding: 15px 10px 20px 10px;
    margin-bottom: 30px;
    border: 2px dashed red;
    background-color: #38761d;
}
.text {
   text-align:justify ;   
   width: 550px;
   
}
.img-html{
    float: left;
    width: 200px;
    margin: 0 25px 20px 0;
}
.img-css{
    float: right;
    width: 150px;
    margin: 15px 0 20px 20px;
  
}